@import 'new';

// .card-trip-infos h1{
//   font: 16px bold ;
//   display:grid;
// }
.font{
  font-family: "Roboto";
}

.card.book-now{
  border-radius:12px;
  font: 20px bold;
}

.card.h1{
}

.btn-group {
  display: flex;
  justify-content: space-between;
  color: #ffe508;
}

#back {
  bottom: 0px;
  position:fixed;
}
