.devise_form_submit.green {
	background-color: #8ac926;
}

.back_button {
	width: 50%;
	background-color: #1982c4;
	color: white;
}

.multi_option {
	display:flex;
	justify-content: center;
	margin-top: 8px;
	width: 90%;
}

.toilet_add__header {
	display: flex;
	justify-content: center;
	background-color: #B09E83;
	padding-top: 5px;
}

.toilet_add__header h1{
	font-size: 1.5rem;
}
