<div class="container">
  <h1>Recent Bookings</h1>
    <ul><% current_user.bookings.each do |booking| %></ul>
      <%= link_to toilet_path(booking.toilet) do %>
      <div class="card-trip d-flex">
        <%= image_tag booking.toilet.image_path %>
        <div>
          <%= booking.toilet.location %>
          <%= booking.duration %>
        </div>
      </div>
        <% end %>
    <% end %>
</div>
