<div class="devise_container">
<div class="card-product">
    <div class="booking_add_header text-center">
      <h1>Reserve Toilet</h1>
    </div>
  </div>
    <div class="container ">
      <%= image_tag "scarface-loo.jpg" %>
      <div class="text-center">
      <%= render 'form', booking: @booking %>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
<%# <div class="btn-group back_button btn-sm" role="group" aria-label="Basic example">
  <%= link_to '<- Bookings Home ', bookings_path, :class => "btn btn-secondary" %>
  <%# <%= link_to '<- Toilets Home ', toilets_path, :class => "btn btn-secondary" %>
</div>
