<div class= "container" class = "footer">
<p> <%= link_to 'Back to Toilets', toilets_path, class: "footer_button" %></p>
<p> <%= link_to 'List a Toilet', new_toilet_path, class: "footer_button" %></p>
<%# <p> <%= link_to 'Owner profile', user_path, class: "footer_button" %></p> %>

</div>
