.devise_form_input {
	margin-left: 19px;
	width: 90%;
}

.devise_form_submit {
	background-color: #1982c4;
	margin-left: 19px;
	width: 90%;
	color: white;
}

.shared_links {
	display:flex;
	justify-content: space-around;
	margin-left: 19px;
	margin-top: 8px;
}

.shared_link {
	display:flex;
	justify-content: center;
	margin-top: 8px;
}
.devise_form_container {
	position: absolute;
	top: 25%;
	width: 100%;
}

#sign_up_image{
	object-position: -111px;
}

.file .optional {
	margin-left: 19px;
}
